[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/LayerZero-v2"]
	path = lib/LayerZero-v2
	url = https://github.com/LayerZero-Labs/LayerZero-v2
