# ignore any file by prepending "ignore." to it
ignore.*

node_modules
.env
.npmrc

.idea
.DS_Store

dist
cache
cache_foundry
cache_hardhat
ganache
artifacts
typechain-types

coverage
coverage.json

gasReport.txt

editor.bbprojectd
yarn-error.log

tenderly.yaml

.vscode

