[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/doppler"]
	path = lib/doppler
	url = https://github.com/whetstoneresearch/doppler
	branch = main
