{
	"printWidth": 120,
	"tabWidth": 4,
	"useTabs": false,
	"semi": true,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"trailingComma": "es5",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "always",
	"requirePragma": false,
	"insertPragma": false,
	"proseWrap": "preserve",
	"htmlWhitespaceSensitivity": "css",
	"endOfLine": "crlf",
	"embeddedLanguageFormatting": "off",
	"overrides": [{
			"files": "*.js",
			"options": {
				"singleQuote": true
			}
		},
		{
			"files": "*.ts",
			"options": {
				"singleQuote": true
			}
		},
		{
			"files": "*.sol",
			"options": {
				"printWidth": 120,
				"tabWidth": 4,
				"useTabs": false,
				"singleQuote": false,
				"bracketSpacing": false,
				"explicitTypes": "always"
			}
		}
	]
}