{
  "prettier.printWidth": 120,
  "prettier.tabWidth": 2,
  "prettier.useTabs": false,
  "prettier.semi": true,
  "prettier.singleQuote": true,
  "prettier.quoteProps": "as-needed",
  "prettier.trailingComma": "es5",
  "prettier.bracketSpacing": true,
  "prettier.bracketSameLine": true,
  "prettier.arrowParens": "always",
  "prettier.requirePragma": false,
  "prettier.insertPragma": false,
  "prettier.proseWrap": "preserve",
  "prettier.htmlWhitespaceSensitivity": "css",
  "prettier.endOfLine": "lf",
  "prettier.embeddedLanguageFormatting": "off",
  "prettier.ignorePath": ".gitignore",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "requirePragma": false,
  "insertPragma": false,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "off",
  "overrides":
    [
      { "files": "*.prettierrc", "options": { "singleQuote": false } },
      { "files": "*.js", "options": { "singleQuote": true } },
      { "files": "*.ts", "options": { "singleQuote": true } },
      {
        "files": "*.sol",
        "options":
          {
            "printWidth": 120,
            "tabWidth": 2,
            "useTabs": false,
            "singleQuote": false,
            "bracketSpacing": false,
            "explicitTypes": "always",
          },
      },
    ],
}
