{
  "prettier.arrowParens": "always",
  "prettier.bracketSpacing": true,
  "prettier.configPath": "",
  "prettier.disableLanguages": [],
  "prettier.documentSelectors": [],
  "prettier.embeddedLanguageFormatting": "auto",
  "prettier.enable": true,
  "prettier.enableDebugLogs": false,
  "prettier.endOfLine": "lf",
  "prettier.htmlWhitespaceSensitivity": "css",
  "prettier.ignorePath": ".prettierignore",
  "prettier.insertPragma": false,
  "prettier.jsxBracketSameLine": false,
  "prettier.jsxSingleQuote": false,
  "prettier.packageManager": "npm",
  "prettier.prettierPath": "",
  "prettier.printWidth": 100,
  "prettier.proseWrap": "preserve",
  "prettier.quoteProps": "as-needed",
  "prettier.requireConfig": false,
  "prettier.requirePragma": false,
  "prettier.resolveGlobalModules": false,
  "prettier.semi": true,
  "prettier.singleQuote": false,
  "prettier.tabWidth": 2,
  "prettier.trailingComma": "es5",
  "prettier.useEditorConfig": true,
  "prettier.useTabs": false,
  "prettier.vueIndentScriptAndStyle": false,
  "prettier.withNodeModules": false,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": "*.ts",
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": "*.sol",
      "options": {
        "printWidth": 120,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false,
        "explicitTypes": "always"
      }
    }
  ]
}
