# Test configuration

FOUNDRY_PROFILE=default
USING_ETH=FALSE
IS_TOKEN_0=TRUE
V3_FEE=3000
FEE=100

# Etherscan API keys

UNISCAN_API_KEY=""
BASESCAN_API_KEY=""
BLOCKSCOUT_API_KEY=""

# RPC endpoints

MAINNET_RPC_URL=""
UNICHAIN_MAINNET_RPC_URL=""
BASE_MAINNET_RPC_URL=""
INK_MAINNET_RPC_URL=""
UNICHAIN_SEPOLIA_RPC_URL=""
BASE_SEPOLIA_RPC_URL=""
INK_SEPOLIA_RPC_URL=""
WORLD_SEPOLIA_RPC_URL=""
ARBITRUM_SEPOLIA_RPC_URL=""
MONAD_TESTNET_RPC_UR=""

# Explorer API endpoints

UNICHAIN_MAINNET_VERIFIER_URL=""
BASE_MAINNET_VERIFIER_URL=""
UNICHAIN_SEPOLIA_VERIFIER_URL=""
BASE_SEPOLIA_VERIFIER_URL=""
INK_SEPOLIA_VERIFIER_URL=""
INK_MAINNET_VERIFIER_URL=""
WORLD_SEPOLIA_VERIFIER_URL=""
ARBITRUM_SEPOLIA_VERIFIER_URL=""
MONAD_TESTNET_VERIFIER_URL=""